
<div="container">
<h2> <%= @message.title %></h2>
<h3> <%= @message.description%></h3>
<!--add posted time stamp -->
</div>
<%= link_to "Back", root_path, class: "btn btn-default" %>
<%= link_to "Edit Message", edit_message_path(@message), class: "btn btn-default" %>
<%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure you want to delete this?" }, class: "btn btn-default" %>